.textbox{
    color: black;
    background: #E6E6FA;
}

.examplecode{
    background: #E6E6FA;
    color: black;
    font-size: 40pt;
    font-family: monospace;
    
}

.examplecodeb{
    background: #E6E6FA;
    color: black;
    font-size: 20pt;
    font-family: monospace;
    
}